.ao-seo-tool {
    display: block;
    width: 100%;
    height: auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.ao-seo-tool-container {
    position: relative;
    min-height: 400px;
    background: #f7f7f7;
    color: #222;
}

.ao-seo-tool-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 180px;
    background: #222;
    z-index: 0;
}

.ao-seo-tool-navigation {
    position: relative;
    z-index: 1;
    float: left;
    width: 180px;
    padding: 10px 0;
    color: #fff;
}

.ao-seo-tool-tab-dashboard {
    margin-left: 180px;
}

.ao-seo-tool-tab-dashboard-header {
    display: table;
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #e6e6e6;
}

.ao-seo-tool-tab-dashboard-header-summary {
    display: table-cell;
    width: 50%;
    padding: 20px;
    vertical-align: middle;
    font-weight: bold;
}

.ao-seo-tool-tab-dashboard-header-buttons {
    display: table-cell;
    width: 50%;
    padding: 20px;
    vertical-align: middle;
    text-align: right;
}

.ao-seo-tool-button {
    display: inline-block;
    padding: 10px 12px;
    background: #ddd;
    color: #444;
    border: 0;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    font-size: 14px;
    border-radius: 1000px;
    white-space: nowrap;
}

.ao-seo-tool-button:hover,
.ao-seo-tool-button.ao-seo-tool-active {
    background: #ccc;
}

.ao-seo-tool-button.ao-seo-tool-button-red {
    background: #9e0000;
    color: #fff;
}

.ao-seo-tool-button.ao-seo-tool-button-red:hover,
.ao-seo-tool-button.ao-seo-tool-button-red.ao-seo-tool-active {
    background: #8c0000;
}


.ao-seo-tool-tab-dashboard-content {
    position: relative;
    padding: 20px;
}

.ao-seo-tool-title {
    padding: 19px 15px;
    font-size: 22px;
    font-weight: 600;
}

.ao-seo-tool-tabs {
    margin: 10px 0;
    border-top: 1px solid #333;
}

.ao-seo-tool-tab {
    position: relative;
    padding: 12px 15px;
    border-bottom: 1px solid #333;
    cursor: pointer;
    font-size: 14px;
}

.ao-seo-tool-tab:hover {
    background: #2f2f2f;
}

.ao-seo-tool-tab.ao-seo-tool-active {
    background: #333;
}

.ao-seo-tool-tab::before {
    margin-right: 10px;
}

.ao-seo-tool-tab.ao-seo-tool-valid::before {
    content: "\2714";
    color: #4CAF50;
}

.ao-seo-tool-tab.ao-seo-tool-invalid::before {
    content: "\274C";
    font-size: 11px;
    color: #9e0000;
}

.ao-seo-tool-tab.ao-seo-tool-active::after {
    position: absolute;
    top: 50%;
    right: -1px;
    content: "";
    width: 0;
    height: 0;
    margin-top: -8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #f7f7f7;
}

.ao-seo-tool-tab-content {
    display: none;
}

.ao-seo-tool-tab-content.ao-seo-tool-active {
    display: block;
}

.ao-seo-tool-table {
    display: table;
    width: 100%;
    margin: 20px 0;
    border: 1px solid #ddd;
    font-size: 14px;
}

.ao-seo-tool-table-row {
    display: table-row;
}

.ao-seo-tool-table-row.ao-seo-tool-invalid {
    background: #ffecea;
}
/*.ao-seo-tool-table-row.ao-seo-tool-invalid .ao-seo-tool-table-cell:first-of-type::before {*/
    /*content: "\274C";*/
/*}*/

.ao-seo-tool-table-row.ao-seo-tool-warning {
    background: #fffdd9;
}
/*.ao-seo-tool-table-row.ao-seo-tool-warning .ao-seo-tool-table-cell:first-of-type::before {*/
    /*content: "\26A0";*/
/*}*/

.ao-seo-tool-table-row.ao-seo-tool-valid {
    background: #efffe6;
}
/*.ao-seo-tool-table-row.ao-seo-tool-valid .ao-seo-tool-table-cell:first-of-type::before {*/
    /*content: "\2714";*/
/*}*/

.ao-seo-tool-table-cell,
.ao-seo-tool-table-head {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.ao-seo-tool-table-cell {
    word-wrap: break-word;
    border-top: 1px solid #ddd;
    vertical-align: top;
}

.ao-seo-tool-table-cell:first-of-type code {
    border: 1px solid #ddd;
    display: block;
    padding: 3px;
    background: #fff;
}

.ao-seo-tool-table-cell img {
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin: 10px 0 0 0;
}

.ao-seo-tool-table-head {
    font-weight: 600;
    background: #eee;
}

.ao-seo-tool-link {
    color: #008CBA;
    text-decoration: underline;
    cursor: pointer;
}

.ao-seo-tool-link:hover {
    text-decoration: none;
}

.ao-seo-tool-error-highlight {
    visibility: visible !important;
    border: 3px solid #ff0000;
}

.ao-seo-tool-toggle-errors::before {
    content: "\2610";
    margin-right: 5px;
}

.ao-seo-tool-toggle-errors.ao-seo-tool-active::before {
    content: "\2611";
}
